.aider*
/.agent-shell/
workspace/
.cache

.DS_Store
.ai.code.files/
.ai.code.prompt.org
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
ac-comphist.dat
agent/
auto-save-list/
bookmarks.eld
eclipse.jdt.ls/
eln-cache/
elpa/
emacs-backup/
emojis/
forge-database.sqlite
history
ido.last
logview-cache.extmap
org-roam.db
projectile-bookmarks.eld
projectile.cache
projects
recentf
snippets/
tramp
tramp-autosave/
transient/
var/
